src/columbine/xsd/20180610/connectionpathnode.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="connectionPathNode">
		<xsd:all>
			<xsd:element name="centralOmr" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nodeName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nodeType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nodeAddress" type="xsd:string" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
