src/columbine/xsd/20180610/copperstopdetails.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="copperStopDetails">
		<xsd:all>
			<xsd:element name="hasstop" type="xsd:string" minOccurs="0"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0"/>
			<xsd:element name="stopType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="stopReason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="stopDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="noticePeriod" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
