src/columbine/xsd/20180610/ordermessage.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>

  <xsd:complexType name="orderMessageType">
    <xsd:annotation>
      <xsd:documentation>orderMessage</xsd:documentation>
    </xsd:annotation>
    <xsd:all>
      <xsd:element name="message-type"  type="xsd:string" minOccurs="0"/>
      <xsd:element name="message-value" type="xsd:string" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>

</xsd:schema>